<div style="text-align:center; margin:20px; background-color:rgba(202, 201, 201, 0.1000);">
    <h2 style="padding:5px"><%= @user.username %></h2>
    <h5 style="padding:5px"><%= @user.email %></h5>
    <p style="padding:5px"><%= @user.bio %></p>
</div>
    <% if @user.avatar.attached? %>
      <% image_tag @user.avatar, style:"width: 50px; height: 50px;" %>
    <% end %>
