<div class="container">
  <h1> About Us </h1>
  <p>This Websit is a Instagram clone that we are working on!</p>
  <p>I am just writting to have  content!</p>

  <p>
    Work with us
    We put people first, and value craft and simplicity in our work. Our teams inspire creativity around the world, helping over 1 billion people create and share. Join us!
  </p>

  <p>Download the Instagram logo and other assets for use on your website, in your store window, or for other marketing materials.</p>

  <p>
    Introducing Instagram’s visual refresh
    Today, we're bringing new energy and purpose to our colors, typeface, logo and other brand elements with a refreshed visual identity. Our new system is designed to embrace continued evolution to help us create more immersive and inclusive experiences for our community.
  </p>

  <p>
    FEATURED ARTICLES

    Read our latest posts and news about Instagram.
  </p>

  
</div>
